@font-face {
  font-family: 'Aeonik';
  src: url(./fonts/Aeonik-/Aeonik-Regular.otf) format('opentype');
  font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #515251;
  background: #FFF;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Aeonik', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
